<p>
  <b>Title:</b>
  <%= @video.title %>
</p>

<p>
  <b>Description:</b>
  <%= @video.description %>
</p>

<p>
  <b>Author:</b>
  <%= @video.user.username %>
</p>

<p>
  <b>Youtube url:</b>
  <%= raw @video.embeded_code %>
</p>

<% if can? :rate, Video %>
  <p>
    <b>Rate:</b>
    <div id="star"></div>
  </p>
<% end %>

<% if can? :update, @video %>
  <%= link_to 'Edit', edit_video_path(@video) %> |
<% end %>

<%= link_to 'Back', videos_path %>

<% if user_signed_in? %>
<div class="comments">
  <% @video.comments.each do |comment| %>
    <p class="comment">
      <b><%= comment.user.username %></b>: <%= comment.content %>
    </p>
  <% end %>
  <p class="comment_form">
    <%= form_for [@video, @video.comments.new] do |f| %>
      <% if @comment.errors.any? %>
        <div id="error_explantation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <%end %>
      <div class="field">
        <%= f.label :content, "Content" %>
        <%= f.text_area :content %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </p>
</div>
<% end %>
